name: CI
on:
  push:
    branches: [ main, release ]
  pull_request:
    branches: [ main, release ]
jobs:
  test:
    name: runner/test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: run test
        run: go test -v ./...
